{% extends 'gerenciamento/base/base.html' %}

{% block content %}

{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<title>Edição do Motorista</title>

<div class="container atributos">
    <div class="card mt-4 shadow-lg">
        <div class="card-header text-white">
            <h2 class="d-flex justify-content-center"> <span class="mt-1"> EDITAR MOTORISTA </span><input type="text" id="accordion_search_bar" class="form-control pesquisa ms-4 mt-1" placeholder="Otavio..."> </h2>
        </div>
        <div class="card-body">            
            <div class="scrollable-menu" id="scrollable-menu" data-bs-spy="scroll" data-bs-target="#employeeAccordion" data-bs-offset="0" tabindex="0">
                <div class="accordion" id="employeeAccordion">
                    {% for motorista in motoristas %}
                    <div class="accordion-item AccordionContainer" width=300px id="motorista-{{ forloop.counter }}">
                        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            <div class="branco">  {{ motorista.nome }} </div>
                            </button>
                        </h2>
                        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#employeeAccordion">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p> <span class="atributos">Cadastro de Pessoa Física (CPF) </span><br>{{ motorista.cpf_motorista }}</p>
                                        <p><span class="atributos">Registro da Carteira Nacional de Habilitação</span><br>{{ motorista.registro_cnh }}</p>
                                        <p><span class="atributos">Data de Admissão</span><br>{{ motorista.data_admissao }}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><span class="atributos">Telefone</span><br>{{ motorista.telefone }}</p>
                                        <p><span class="atributos">Endereço</span><br>{{ motorista.endereco }}</p>
                                        <a type="button" href="{% url 'gerenciamento:formeditarm' motorista.cpf_motorista%}" class="btn btn-success btn-pequeno">EDITAR</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var search = document.getElementById('accordion_search_bar');
    var accordions = document.querySelectorAll('.AccordionContainer');

    // Show content on click
    accordions.forEach(function(accordion) {
        accordion.querySelector('button').addEventListener('click', function() {
            this.nextElementSibling.classList.toggle('active');
        });
    });

    search.addEventListener('input', function() {
        var searchText = search.value.toLowerCase();
        accordions.forEach(function(accordion) {
            if (accordion.innerText.toLowerCase().includes(searchText)) {
                accordion.style.display = 'block';
            } else {
                accordion.style.display = 'none';
            }
        });
    });

    var scrollElement = document.getElementById('scrollable-menu');
    new bootstrap.ScrollSpy(scrollElement, {
        target: '#employeeAccordion'
    });
</script>



{% endblock content %}