{% extends 'gerenciamento/base/base.html' %}

{% block content %}

{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<title>Exclusão dos Tipos de Veículos</title>

<div class="container atributos">
    <div class="card mt-4 shadow-lg">
        <div class="card-header text-white">
            <h2 class="d-flex justify-content-center"> <span class="mt-1"> EXCLUIR TIPO DE VEÍCULO </span><input type="text" id="accordion_search_bar" class="form-control pesquisa ms-4 mt-1" placeholder="Carreta..."> </h2>
        </div>
        <div class="card-body">            
            <div class="scrollable-menu" id="scrollable-menu" data-bs-spy="scroll" data-bs-target="#employeeAccordion" data-bs-offset="0" tabindex="0">
                <div class="accordion" id="employeeAccordion">
                    {% for tipo in tipos %}
                    <div class="accordion-item AccordionContainer" id="tipo-{{ forloop.counter }}">
                        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            <div class="branco">  {{ tipo.id_tipo }} - {{ tipo.nome_tipo }} </div>
                            </button>
                        </h2>
                        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#employeeAccordion">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><span class="atributos">ID do tipo de veículo</span><br>{{ tipo.id_tipo }}</p>
                                        <p><span class="atributos">Nome do tipo de veículo</span><br>{{ tipo.nome_tipo }}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p> <span class="atributos">Capacidade de peso (KG)</span><br>{{ tipo.capacidade_peso }}</p>
                                        <p><span class="atributos">Quantidade de eixos</span><br>{{ tipo.quantidade_eixos }}</p>
                                        <!-- Unique modal trigger -->
                                        <button type="button" class="btn btn-danger btn-pequeno" data-bs-toggle="modal" data-bs-target="#deleteModal{{ forloop.counter }}">
                                            Excluir
                                        </button>
                                    </div>
                                </div>  
                            </div>         
                        </div>

                        <div class="modal fade" id="deleteModal{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel{{ forloop.counter }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel{{ forloop.counter }}">Realmente deseja excluir o Tipo de Veículo {{ tipo.nome_tipo }}?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'gerenciamento:formexcluirt' tipo.id_tipo%}" class="btn btn-success btn-pequeno">Sim</a>
                                        <button type="button" class="btn btn-danger btn-pequeno" data-bs-dismiss="modal">Não</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var search = document.getElementById('accordion_search_bar');
    var accordions = document.querySelectorAll('.AccordionContainer');

    // Show content on click
    accordions.forEach(function(accordion) {
        accordion.querySelector('button').addEventListener('click', function() {
            this.nextElementSibling.classList.toggle('active');
        });
    });

    search.addEventListener('input', function() {
        var searchText = search.value.toLowerCase();
        accordions.forEach(function(accordion) {
            if (accordion.innerText.toLowerCase().includes(searchText)) {
                accordion.style.display = 'block';
            } else {
                accordion.style.display = 'none';
            }
        });
    });

    var scrollElement = document.getElementById('scrollable-menu');
    new bootstrap.ScrollSpy(scrollElement, {
        target: '#employeeAccordion'
    });
</script>

{% endblock content %}
