{% extends 'gerenciamento/base/base.html' %}

{% block content %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<title>Edição do Tipo de Veículo</title>

<div class="container">
    <div class="card mt-4 shadow-lg">
        <div class="card-header text-white text-center">
            <h2>EDITAR TIPO DE VEÍCULO</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'gerenciamento:formeditart' tipo.id_tipo%}" novalidate>
                {% csrf_token %}
                
                <!-- Exibir erros globais de formulário, se houver -->
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="id_id_tipo" style="color: #6a708a; font-weight: 500;">ID do Tipo de Veículo</label>
                        <input type="text" id="id_id_tipo" value="{{ tipo.id_tipo }}" class="form-control" disabled>
                        <input type="hidden" name="{{ form.id_tipo.name }}" value="{{ form.id_tipo.value }}">
                    </div>
                    <div class="col-md-6">
                        <label for="id_agencia" style="color: #6a708a; font-weight: 500;">Nome do tipo de veículo</label>
                        {% bootstrap_field form.nome_tipo show_label=False show_errors=True placeholder="Caminhão" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="id_cpf" style="color: #6a708a; font-weight: 500;">Capacidade de peso (KG)</label>
                        {% bootstrap_field form.capacidade_peso show_label=False show_errors=True placeholder="1500.00" %}
                    </div>
                    <div class="col-md-6">
                        <label for="id_numero_conta" style="color: #6a708a; font-weight: 500;">Quantidade de eixos</label>
                        {% bootstrap_field form.quantidade_eixos show_label=False show_errors=True placeholder="3" %}
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-pequeno">SALVAR</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}