{% extends 'gerenciamento/base/base.html' %}

{% block content %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<title>Edição do Pagamento</title>

<div class="container">
    <div class="card mt-4 shadow-lg">
        <div class="card-header text-white text-center">
            <h2>EDITAR PAGAMENTO</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'gerenciamento:formeditarp' pagamento.id_pagamento%}" novalidate>
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="id_cpf_fiscal" style="color: #6a708a; font-weight: 500;">Cadastro de Pessoa Fisica (CPF) do Fiscal</label>
                        {% bootstrap_field form.cpf_fiscal show_label=False show_errors=True placeholder="71353255466" %}
                    </div>
                    <div class="col-md-6">
                        <label for="id_frete" style="color: #6a708a; font-weight: 500;">ID do Frete</label>
                        {% bootstrap_field form.id_frete show_label=False show_errors=True placeholder="15" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="id_taxa_desconto" style="color: #6a708a; font-weight: 500;">Taxa de Desconto</label>
                        {% bootstrap_field form.taxa_desconto show_label=False show_errors=True placeholder="500.00" %}
                    </div>
                    <div class="col-md-6">
                        <label for="id_taxa_acrescimo" style="color: #6a708a; font-weight: 500;">Taxa de Acrescimo</label>
                        {% bootstrap_field form.taxa_acrescimo show_label=False show_errors=True placeholder="500.00" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="id_data" style="color: #6a708a; font-weight: 500;">Data de Pagamento</label>
                        {% bootstrap_field form.data_pagamento show_label=False show_errors=True %}
                    </div>
                    <div class="col-md-6">
                        <label for="id_pagamento" style="color: #6a708a; font-weight: 500;">Status de Pagamento</label>
                        {% bootstrap_field form.status_pagamento show_label=False show_errors=True %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="id_valor" style="color: #6a708a; font-weight: 500;">Valor Calculado</label>
                        {% bootstrap_field form.valor_calculado show_label=False show_errors=True placeholder="4000.00" %}
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-pequeno">SALVAR</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}