{% extends 'gerenciamento/base/base.html' %}
{% block content %}
<title>Redefinição de Senha - Sucesso</title>

    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-success">
                        Sua senha foi redefinida, você pode prosseguir com o login <a href="{% url 'gerenciamento:login' %}">aqui</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}